@import "bootstrap/scss/bootstrap";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "aos/dist/aos.css";
body {
    padding-top: 64px;
}

.navbar {
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(20px);

    &.shadow {
        padding: 20px 0;
    }

    .navbar-toggler {
        order: 1;
    }

    .language-selector {
        order: 0;
        .navbar-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .nav-link {
                padding: 0 5px;
                opacity: 0.4;
                cursor: pointer;
                transition: 0.5s;

                img {
                    height: 30px;
                    width: 30px;
                    max-height: 30px;
                    max-width: 30px;
                }

                &:hover {
                    opacity: 0.7;
                    transform: scale(1.1);
                }

                &.active {
                    opacity: 1;
                    pointer-events: none;
                }
            }
        }
    }
}

#home-page {
    .hero {
        input {
            border-radius: var(--bs-border-radius) !important;
        }

        .carousel-item {
            min-height: 80px;
        }

        > div {
            background-image: var(--hero-bg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }

    .swiper {
        opacity: 0;
        transition: 0.5s;

        &.swiper-initialized {
            opacity: 1;
        }
    }

    .description-banner {
        .description-banner-item {
            padding: 50px 10px 0;
            display: flex;
            align-items: center;
            border-radius: 12px 12px 0 0;
            background-image: linear-gradient(
                180deg,
                rgba(244, 244, 249, 0.8) 50%,
                rgba(244, 244, 249, 0.05) 100%
            );
            h6 {
                font-size: 1.25rem;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 12px;
            }
        }

        .description-banner--banner {
            margin-top: 40px;
            .content {
                text-align: center;
                padding: 50px min(10%, 200px) 50px;
                background-color: #e8e3f5;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                p {
                    margin: 18px 0 70px;
                }
            }
        }
    }

    .icons-section {
        .svg {
            height: 43px;
            stroke: var(--bs-primary);
        }

        .icons-section--banner {
            margin-top: 100px;
            background-color: #f4f4f9;
            border-radius: 50px;
            padding: 80px min(10%, 150px) 50px;
        }
    }
}

#cases-page {
    .case-card-items {
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        .case-card {
            display: flex;
            flex-direction: column;
            gap: 15px;
            h4 {
                margin-top: 20px;
                text-align: left;
            }
            .case-card-content {
                position: relative;
                height: 350px;
                background-color: #e9e8e5;
                border-radius: 10px;
                background-image: var(--case-image);
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center;
                cursor: pointer;
                transition: 0.5s;

                .overlay-eye {
                    display: none;
                    transition: 0.5s;
                }

                &:hover {
                    background-size: auto 110%;
                    .overlay-eye {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        inset: 0;
                        background-color: rgba(0, 0, 0, 0.319);
                        color: white;
                    }
                }
            }
        }
    }
}
